@use "sass:color";
@use "variables";
@use "mixins/text";

$color: variables.$primary;

.card {
  background-color: variables.$primary;
  margin: 5px;
  padding: 5px;

  &__btn {
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color: color.adjust($color, $lightness: 15%);
    color: color.complement($color);
    @include text.small-cap;
  }
  &__btn:hover {
    background-color: color.adjust($color, $lightness: 25%);
    cursor: pointer;
  }
}
