@use "variables";
@use "mixins/text";
@use "sass:color";

.top-picks {
  position: relative;
  padding: 50px;
  background-color: variables.$primary;
  background-color: color.adjust(variables.$primary, $lightness: 5%);

  &__header {
    border-left: solid 5px variables.$primary;
    padding-left: 20px;
    color: white;
  }

  &__title {
    margin: 0;
    font-family: arial;
  }

  &__desc {
    opacity: 0.7;
    @include text.small-cap;
  }

  &__wrapper {
    display: flex;
    margin: 0 -5px;
  }
}
